<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение почты</title>
</head>
<body>
<form action="" method="POST">
    <h3>Вам на почту отправлен код подтверждения пожалуйста введите его в форму ниже</h3>
    <div>
        <label for="conf_code"><strong>Код подтверждения:</strong></label>
        <input type="number" size="50" name="conf_code" id="conf_code" value="" />
    </div>


    <input type="submit" value="Отправить код" name="submit" />
</form>
</body>
</html>