<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подписка на обновление цен</title>
</head>
<body>
<form action="" method="POST">
    <div>
        <label for="name"><strong>Имя:</strong></label>
        <input type="text" size="50" name="name" id="name" value="" />
    </div>
    <div>
        <label for="email"><strong>Email:</strong></label>
        <input type="text" size="50" name="email" id="email" value="" />
    </div>
    <div>
        <label for="subject"><strong>Ссылка на товар:</strong></label>
        <input type="text" size="50" name="subject" id="subject" value="" />
    </div>

    <input type="submit" value="Подписаться" name="submit" />
</form>
</body>
</html>